@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=cyrillic-ext');

body {
	overflow: hidden;
}

div {
	font-family: 'Fira Sans', sans-serif;
}

input[type="text"], [type="password"] {
	padding: 4px 6px;
	border: 3px solid rgba(255,255,255,0.5);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.26) inset, 0 2px 10px rgba(0,0,0,0.26);
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.26) inset, 0 2px 10px rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 10px rgba(0,0,0,0.26) inset, 0 2px 10px rgba(0, 0, 0, 0.26);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: rgba(230,230,230,1);
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	color: #333;
	width: 50%;
	transition: background-color .5s ease;
}

input[type="text"]:focus, [type="password"]:focus {
	background: rgba(176,224,230,1);
	transition: background-color .5s ease;
}

a:hover {
	text-decoration: none;
}
a:focus {
	outline: none;
}

button:focus {
	outline: none;
}

#box {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#user-email {
	display: flex;
}

.overflow {
	overflow: auto;
	-moz-overflow: auto;
}

.pad {
	padding-left: 2.5px;
}

.area {
	height: 2rem;
}

.btn {
	height: 35px;
	margin: 0 2px;
	border-radius: 3px;
	border: none;
	box-shadow: 0 10px 24px rgba(0,0,0,0.25), 0 8px 12px rgba(0,0,0,0.22);
}

.btn:hover {
	border: none;
}

.btn:active {
	border: none;
}

.btn.focus, .btn:focus {
	box-shadow: 0 10px 24px rgba(0,0,0,0.25), 0 8px 12px rgba(0,0,0,0.22);
}

.alice {
	background-color: #F0F8FF;
}

.block-title {
	font-size: 1.75rem;
	line-height: 2.36rem;
}

.m_height {
  height: 100%;
}

.addBtn {
	height: 38px;
	margin: 0 10px;
	background-color: #90EE90;
	color: #1E90FF;
}

.addBtn:hover {
	transition: background-color color .4s ease;
	background-color: #3CB371;
	color: #FFF;
}

.login {
  position: relative;
  top: .4rem;
  height: 38px;
  padding: 0 16px;
  color: #1E90FF;
  font-size: 1.1rem;
  box-shadow: 0 3px 7px rgba(0,0,0,0.22), 2px 0 5px rgba(0,0,0,0.2);
}

.desktop {
	background: url('./img/rocket.svg') bottom no-repeat;
	background-size: 39rem 30rem;
	background-color: #FFF;
}

.m-top2 {
	margin-top: 0.93rem;
}

.mar-top4 {
	margin-top: 2%;
}

.mainside-block {
	margin-top: 5rem;
	padding: 2.8vh;
}

.fontS8 {
	font-size: 0.75rem;
}

.white_butn {
  background-color: #FFFFFF;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25), 0 3px 12px rgba(0,0,0,0.25);
}

/* animation style */
.fade-enter-active {
  transition: all .9s ease;
}
.fade-enter {
  transform: translateX(10px);
  opacity: 0;
}

.fade2-enter-active {
  transition: opacity 1.3s ease;
  transition-delay: .4s;
}
.fade2-leave-active {
	transition: all .1s ease;
}
.fade2-enter, .fade2-leave-to {
	transform: translateX(10px);
	opacity: 0;
}

.fade3-enter-active {
  transition: all .5s ease;
  transition-delay: .2s;
}
.fade3-leave-active {
  transition: all .2s ease;
}
.fade3-enter, .fade3-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.fade4-enter-active {
  transition: all .5s ease;
  transition-delay: .2s;
}
.fade4-leave-active {
  transition: all .2s ease;
}
.fade4-enter, .fade4-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.fade5-enter-active {
  transition: all .5s ease;
  transition-delay: .2s;
}
.fade5-leave-active {
  transition: all .2s ease;
}
.fade5-enter, .fade5-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.fade6-enter {
	transform: translateX(10px);
	opacity: 0;
}
.fade6-enter-active {
  transition: all .5s ease;
  transition-delay: .2s;
}
.fade6-leave-active {
	transition: all .01s;
}
.fade6-leave-to {
  transform: translateX(10px);
	display: none;
}

.fade7-enter-active {
  transition: all .5s ease;
  transition-delay: .2s;
}
.fade7-leave-active {
  transition: all .1s ease;
}
.fade7-enter, .fade7-leave-to {
  transform: translateX(8px);
  opacity: 0;
}

.fade8-enter-active {
  transition: all .5s ease;
  transition-delay: .2s;
}
.fade8-leave-active {
  transition: all .1s ease;
}
.fade8-enter, .fade8-leave-to {
  transform: translateX(8px);
  opacity: 0;
}

.fade9-enter-active {
  transition: all .5s ease;
  transition-delay: .3s;
}
.fade9-leave-active {
  transition: all 0 ease;
}
.fade9-enter, .fade9-leave-to {
  transform: translateX(8px);
  opacity: 0;
}

/* media queries */
@media screen and (max-width: 420px) {

	body {overflow: scroll;}

	#header {
		height: 2.8rem;
	}

	#left_side {
		height: 24.6rem;
	}

	#user-email {
		display: none;
	}

	.login {
    	top: .2rem;
    	color: #1E90FF;
    	font-size: 1rem;
	}

	.desktop {
		/*height: 33rem;*/
		background-size: 25rem 21rem;
	}

	.white_butn {
		margin-top: 1.2%;
	}

	.addBtn {
		margin: 0 10px 0 40px;
	}

	.block-title {
		font-size: 1.6rem;
	}

}

@media screen and (min-width: 420px) and (max-width: 575px) {

	body {overflow: scroll;}

	#left_side {
		height: 30rem;
	}

	#user-email {
		display: none;
	}

	.block-title {
		font-size: 1.6rem;
	}

}

@media screen and (min-width: 576px) and (max-width: 667px) {

	#user-email {
		display: none;
	}

	.desktop {
		background-size: 26rem 23rem;
	}

	.block-title {
		font-size: 1.6rem;
	}

}

@media screen and (min-width: 667px) and (max-width: 768px) {

	#user-email {
		display: none;
	}

}

@media screen and (min-width: 767px) {

	/*.desktop {*/
		/*background-size: 28rem 25rem;*/
		/*background-position: center;*/
	/*}*/

	.mainside-block {
		margin-top: 5.65rem;
	}

	.addBtn {
		margin: 0 8px;
	}

	.fontS8 {
		font-size: 0.9rem;
	}

}

/*@media screen and (min-width: 1024px) and (max-width: 1279px) {*/

	/*.desktop {*/
		/*background-size: 68% 58%;*/
		/*background-position: center;*/
	/*}*/
	/**/
	/*.mainside-block {*/
	/*margin-top: 6rem;*/
	/*}*/

	/*.addBtn {*/
		/*margin: 0 8px;*/
	/*}*/

/*}*/

